body {
	margin: 0;
	font-family: sans-serif;
}
.Block1 {
	height: 100px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #b6f5f5;
	
	padding: 20px;
	text-align: justify;
}
.Block1:hover {
    background: #ff5555; /* Цвет фона */
}
.Line {
	border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: #d0d0d0; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 840px;
    margin-left: auto;
	margin-right: auto;
}
#button1 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	padding: 6px;
	top: 15px;
	background-color: #0c0;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border: 0px solid grey;
}
.CenterText {
	text-align: center;
}
#PopupPage {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}
.PopupContent {
	background-color: #e1ff73;
	position: relative;
	margin: auto;
	top: 30%;
	padding: 20px;
	width: 450px;
	height: 250px;
}
#Text1 {
	display: none;
}
#Text2 {
	display: none;
}
#Text3 {
	display: none;
}
