body{
	margin: 0;
}
.color_red{
	color: red;
}
header{
	background-color: #EAEAEA;
	height: 60px;
	font-size: 24px;
	margin: 0;
	padding: 8px;
}
.Left_Column{
	background-color: #C8FC98;
	line-height: 22px;
	float: left;
	padding: 0 8px 8px 8px;
	width: 200px;
	margin: 0 7px 0 0;
}
.Middle_Column{
	line-height: 22px;
}
footer{
	background-color: black;
	margin: 0;
	height: 25px;
	font-size: 12px;
	text-align:  center;
	clear:  both;
}
a{
	color: #FDE95E;
}
