body {
	margin: 0;
}
.Blocks {
	display: block;
}
.Head {
	display: flex;
	justify-content: center;
}
#Header {
	background-color: red;
	color: white;
	font-size: 22px;
	height: 50px;
	width: 216px;
	border: 2px solid black;
	text-align: center;
}
#Header:hover {
	background: orange;
}
.BlockPicture {
	display: flex;
	width: 650px;
	margin-left: 26%;
}
#LeftCat {
	background-color: blue;
	height: 400px;
	width: 93%;
}
#RightDog {
	background-color: green;
	height: 400px;
	width: 7%;
	margin: 0;
}
#img1 {
	display: block;
	margin: 16px;
	width: 70%;
}
#img2 {
	display: none;
	margin: 16px;
	width: 70%;
}
