body {
	margin: 0;
}
.Blocks {
	display: block;
}
.Head {
	display: flex;
	justify-content: center;
}
#Header {
	background-color: red;
	color: white;
	font-size: 22px;
	height: 50px;
	width: 220px;
	border: 2px solid black;
	text-align: center;
}
.BlockPicture {
	display: flex;
}
#LeftCat {
	background-color: blue;
	height: 400px;
	width: 652px;
	margin-left: auto;
	margin-right: auto;
}
#RightDog {
	background-color: green;
	height: 400px;
	width: 20px;
	margin: 0;
}
#img1 {
	display: block;
}
#img2 {
	display: none;
}